@import FieldHelper.horizonal
@import custom._
@(form:Form[SegmentDescQuery],list:List[SegmentDesc])(implicit messages:Messages,request:play.api.mvc.RequestHeader)

@script={
    <script src="/assets/javascripts/mask.js"></script>
}
@side={
    @sideBar("segmentDesc")
}

@main("segmentDesc",script=script,side=side){
@helper.form(action=routes.SegmentController.segmentDesc(),'class->"form-inline",'method->"get"){
    @helper.inputText(form("catCode"), 'class->"form-control",'placeholder->"name")
    @helper.inputText(form("attrValue"), 'class->"form-control",'placeholder->"name")
    @helper.inputText(form("attrNo"), 'class->"form-control",'placeholder->"name")
    @helper.inputText(form("mark"), 'class->"form-control",'placeholder->"name")
    @helper.inputText(form("period"), 'class->"form-control",'placeholder->"name")
    <input type="submit" class="btn btn-default">
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
        </tr>
        </thead>
        <tbody>
        @for(item<-list){
            <tr>
                <td>@item.rawBrand</td>
                <td>@item.rawDesc</td>
                <td>@item.attribute</td>
                <td>@item.attrValue</td>
            </tr>
        }
        </tbody>
    </table>
    <nav>
        <ul class="pager">
            <li class="previous">
                <a href="/segmentDesc?catCode=@form("catCode").value&attrValue=@form("attrValue").value&attrNo=@form("attrNo").value&mark=@form("mark").value&period=@form("period").value&page=@form("page").value.map(i=>if(i.toInt-1<=0)1 else i.toInt-1)"><span aria-hidden="true">&larr;</span> Older</a>
            </li>
            <li class="next">
                <a href="/segmentDesc?catCode=@form("catCode").value&attrValue=@form("attrValue").value&attrNo=@form("attrNo").value&mark=@form("mark").value&period=@form("period").value&page=@form("page").value.map(_.toInt+1)">Newer <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
</div>
}
