@import FieldHelper.horizonal
@import custom._
@(form:Form[XmlForm])(implicit messages:Messages,request:play.api.mvc.RequestHeader)
@script={
    <script src="/assets/javascripts/remote.js"></script>
}
@side={
    @sideBar("pre")
}

@main("product",script=script,side=side){
    <form method="post" action="/deployXml">
        <div class="form-group row">
            <label for="tableName" class="col-sm-2 col-form-label">tableName</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="tableName" name="tableName">
            </div>
        </div>
        <div class="form-group row">
            <label for="dbName" class="col-sm-2 col-form-label">dbName</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="dbName" name="dbName">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">lang</label>
            <div class="col-sm-4">
                <select class="form-control">
                    <option value="">--choose--</option>
                    <option value="ENG">ENG</option>
                    <option value="CHN">CHN</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">mbd</label>
            <div class="col-sm-4">
                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd1" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        C2C Total
                    </label>
                </div>


                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd2" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        eCommerce Market Total
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd3" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        B2C Total
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd4" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        Tmall Total
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd5" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        B2C Self-Operated
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd6" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        B2C Platform
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd7" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        Defined B2C Cross-Border
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd8" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        Tmall Platform
                    </label>
                </div>

                <div class="checkbox">
                    <label >
                        <input type="checkbox" id="mbd9" name="mbd">
                        <span class="cr">
                            <i class="cr-icon fa fa-check"></i>
                        </span>
                        Tmall Supermarket
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="period" class="col-sm-2 col-form-label">period</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="period" name="period">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">remoteHost</label>
            <div class="col-sm-4">
                <select name="remoteHost" class="form-control">
                    <option value="0.0.0.0">--choose--</option>
                    <option value="hkgwinrfpp157">hkgwinrfpp157</option>
                    <option value="hkgwinrfpp158">hkgwinrfpp158</option>
                    <option value="hkgwinrfpp159">hkgwinrfpp159</option>
                    <option value="hkgwinrfpp160">hkgwinrfpp160</option>
                    <option value="hkgwinrfpp161">hkgwinrfpp161</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="nd" class="col-sm-2 col-form-label">nd</label>
            <div class="col-sm-4">
                <input id="nd" name="nd" type="checkbox"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="wd" class="col-sm-2 col-form-label">wd</label>
            <div class="col-sm-4">
                <input id="wd" name="wd" type="checkbox"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="salesValue" class="col-sm-2 col-form-label">salesValue</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="salesValue" name="salesValue">
            </div>
        </div>
        <div class="form-group row">
            <label for="salesVolume" class="col-sm-2 col-form-label">salesVolume</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="salesVolume" name="salesVolume">
            </div>
        </div>
        <div class="form-group row">
            <label for="averagePrice" class="col-sm-2 col-form-label">averagePrice</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="averagePrice" name="averagePrice">
            </div>
        </div>
        <input type="submit">
    </form>
}
