@(implicit request:play.api.mvc.RequestHeader)

@main("hosts"){
    <div class="list-group col-md-9">
        <a href="http://10.250.33.107:50070/explorer.html" class="list-group-item">016hdfs</a>
        <a href="http://hkgrherfpp007:50070/dfshealth.html" class="list-group-item">007hdfs</a>
        <a href="http://10.250.33.161:8000/about/" class="list-group-item">hue2.0</a>
        <a href="http://10.250.33.106:8888/about/" class="list-group-item">hue1.0</a>
        <a href="http://hkgrherfpp007:7070/" class="list-group-item">spark2.0</a>
        <a href="http://hkgrherfpp016:8087/" class="list-group-item">spark1.0</a>
    </div>
}