logs
project/project
project/target
project/.sbtserver
worksheet/
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/project/.project
/RUNNING_PID
/.settings
.sbtserver/
.cache-main
.cache-tests
.classpath
/bin/
.project
.worksheet/
*.sc
